body{
    background-image:radial-gradient(#9370DB, #7B68EE, #6a5acd);
}
h1{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: #ff69B4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;

}
div{
    text-align: center;
    padding: 200px;

}
button:hover{
    background-color: #4b0082;
}